.dashboard-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-family: 'Lato';

    .content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: left;
        //width: -webkit-fill-available;
        padding-top: 64px;

        .overview-container{
            display: flex;
            flex-direction: row;
            justify-content: left;

            .overview-table{
                //border: 1px solid red;
                margin-left:7.758vw;
                margin-top: 3.156vw;
                margin-right: 3.414vw;
            }

            .table-container{
                border: 1px solid green;
            }

            .overview-graph {
                //border: 1px solid blue;
                width: 29.241vw;
                margin-top: 2.221vw;
            }
        }

       
    }
}

.footer-container{
    // margin-top: 7.142vw;
    min-height: 8vh;
    background-color: #373737;
    width: 100%;
}

.side-margin{
     padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.no-margin{
    margin:0px !important;
}

.hidescroll{
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
}


.page-overlay {
    opacity:    1; 
    background: transparent; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 
  }

.show-bg{
    background: #ffffff;
    enable-background: 100%
}

.expandButton{
    position: absolute;
    top:0;
    right:0;
    border:none;
}

.fullScreen{
    background-color: #ffffff;
    font-family: 'Lato';
    height: 100%;
}

.navigation{
    min-width: 210px;

}