.welcome-slider-item{

    width: 100%;
    // height: 100vh;
    min-height: 220px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    // padding-top: 50%;
    // text-align: center;
    // // display:table-cell;
    // vertical-align:middle;

}

.custom-carousel-caption{
    position: absolute;
    right: 15%;
    top: 10%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;

}

.deposit-btn{
    // width: 6vw;
    // border-radius: 40px !important;
    background: rgba(255, 255, 255, 0) 0% 0% no-repeat padding-box !important;
    border-radius: 30px !important;
    opacity: 1;
    // margin: 2vh;
    // width: 100%;
    // min-height: 8vh;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.deposit-btn:hover{
    // width: 6vw;
    // border-radius: 40px !important;
    background: #17a2b8 0% 0% no-repeat padding-box !important;
   
}

.align-right{
    position: absolute;
    right: 10px;
    top: 10px;
}

.dismiss-prompt{
    color: white;
    font-size: 16px !important;
    font-weight: 30 !important;
    text-decoration: underline;
}


.welcome-container{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.1);
    position: absolute;
}

rect.annotation-note-bg{
    fill:white;
    fill-opacity: 0.8;
}